@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap");

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	height: 100%;
	font-family: "Nunito Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(
		180deg,
		rgba(245, 242, 230, 1) 0%,
		rgba(244, 202, 195, 1) 50%,
		rgba(240, 185, 199, 1) 100%
	);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#root {
	height: 100%;
}
